.nkr-pulldownMenu {
  position: absolute;
  left: 20%;
  top: 8%;
  width: 18%;
  z-index: 10000;
}

.nkr-pulldownMenu ul{
  list-style: none;
}

.ql-editor ul>li:before {
  content: none;
  padding-left: 0%;
}